- const imgPath = `/images/portfolio/${photograph}`
- const title = `título`
//- TODO: investigate if a flow paradigm is suitable
//- TODO: insert mock colored squares to fill in the gaps on a flow left line
//- TODO: standardize photos in two classes - landscape X portrait
//- TODO: move from background to div>img checkout flickr: https://blog.flickr.net/en
//- ref: https://stackoverflow.com/questions/10830735/center-image-in-div-with-overflow-hidden
div.square
    //- TODO: change from background to div>img with overflow conditioned photo size
    div(class='background-photos', style=`background: url(${imgPath}); background-position: 50% 50% !important`, onclick=`zoomIn("${photograph}")`, id=`img-${photograph}`)
        div(class="overlay d-flex flex-column align-items-center justify-content-center")
            span(class="align-self-center")
                h3.title title
            span(class="align-self-center")
                h4.description= photograph

div(class='modal' id=`modal-${photograph}`)
    span(class='modal-close', onclick=`zoomOut("${photograph}")`) &times
    //- img(class='modal-content', src=imgPath, id=`${photograph}`)
    //- TODO: move from background to div>img overflow: hidden, add :hover cursor: pointer
    div(class='modal-content', style=`background: url(${imgPath}); background-position: 50% 50% !important`, id=`${photograph}`)
    div(class='modal-caption') descrição